@(message: String)


@Main(message) {

<h1>About Us</h1>
<hr>

<div class="container">
  <div class="col-md-4">
    <a class="avatar1 pull-left"
      style="background-image: url('https://avatars2.githubusercontent.com/u/5351257?v=3&s=460')"
      href="https://github.com/ajgprieto" target="_blank"></a> <a class="avatar2 pull-right"
      style="background-image: url('https://avatars1.githubusercontent.com/u/5615504?v=3&s=460')"
      href="https://github.com/alvinwkwang" target="_blank"></a> <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
      Study Groups was created by Alvin Prieto (left) and Alvin Wang (right) as a project for <a
        href="http://www2.hawaii.edu/~janst/465/" target="_blank">ICS 465</a> to create a practical application
    </p>
    <p>
      All code and resources for this project can be found on GitHub: <a href="https://github.com/StudyGroupsUH"
        target="_blank"><img src="@routes.Assets.at("images/githubmark32px.png")"></a>
    </p>
  </div>
</div>
}
